@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center border-bottom pt-3">
    <div class="header">
        <img src="~/images/logo.png" />
        <h1 >GibJohn Tutoring</h1>
    </div>
</div>

<div class="border-bottom pb-3" id="elitir">
    <h1> Personalized <br /> <span> academic tutoring</span> <br /> services</h1>
    <p>At sea elitr ipsum dolore adipiscing esse gubergren sed magna</p>
    <a href="" class="hero-btn">Visit Us to Know more</a>
</div>

<div class="about">
    <div class="about-img">
        <img src="~/images/background_image2.jpg"  />
    </div>

    <div class="about-text">
        <h2><span> Online tutoring</span> <br />that releases potential<br /></h2>
        <p>Liber minim amet eos magna et diam consequat tempor iriure voluptua et amet amet quod sadipscing dolores ipsum et dolore</p>
        <a href="" class="hero-btn">Read more</a>
    </div>
</div>