@{
    ViewData["Title"] = "Home Page";
    
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to GibJohn Tutoring</h1>
</div>


<div class="text-box">
    <h1>Personalized <br /> academic tutoring <br /> serives</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, obcaecati quod consectetur <br> est rem at officiis aperiam, ab placeat, nostrum cupiditate. <br>Similique id odit impedit unde laborum tempore provident. Perspiciatis.</p>
    <a href="#" class="hero-btn">Visit us to know more</a>
</div>

<input type="text" name="search" placeholder="Search..." />



<!-----SUBJECTS----->

<section class="header">

    <div class="row">
        <div class="TYPESOFBEES-col">
            <h3>Worker bee</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In optio aspernatur quas veritatis? Aliquam expedita nihil corporis iusto, dignissimos cum reiciendis aut ab aspernatur nam nostrum in libero! Molestias, commodi deserunt dicta dolorem nam odio molestiae sit id error repellat?</p>
        </div>
        <div class="TYPESOFBEES-col">
            <h3>Drone bee</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In optio aspernatur quas veritatis? Aliquam expedita nihil corporis iusto, dignissimos cum reiciendis aut ab aspernatur nam nostrum in libero! Molestias, commodi deserunt dicta dolorem nam odio molestiae sit id error repellat?</p>
        </div>
        <div class="TYPESOFBEES-col">
            <h3>Queen bee</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In optio aspernatur quas veritatis? Aliquam expedita nihil corporis iusto, dignissimos cum reiciendis aut ab aspernatur nam nostrum in libero! Molestias, commodi deserunt dicta dolorem nam odio molestiae sit id error repellat?</p>
        </div>
    </div>

</section>

<section>
    <div class="#">
        <img src="~/images/books.jpg" alt="Alternate text"/>
        <p></p>
    </div>
</section>










